@model IndexViewModel

@*@if (TempData["SuccessMessage"] != null)
{
    <h3>@TempData["SuccessMessage"]</h3>
}*@

<br />
<br />
<br />

@await Component.InvokeAsync("Navigation")

<br />
<br />
<br />

<table border="1">
    @foreach (var message in Model.Messages)
    {
        <tr bgcolor="red">
            <td>
                @message.Title
            </td>
            <td>
                @message.Category.Name
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @message.Body
            </td>
        </tr>
    }
</table>